<p>Find me in app/views/fotos/_form.html.erb</p>

<%= form_for [:admin, @foto], html: { multipart: true } do |f| %>
  <% if @foto.errors.any? %>
    <div id="error_explanation">
      <h2><%=pluralize(@foto.errors.count, "error") %> Neļaut saglabāt</h2>


      <ul>
         <% @foto.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         <% end %>
      </ul>
   </div>
  <% end %>

<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>

  <div class="field">
    <%= f.label :media_type %><br>
    <%= f.select :media_type, ["", "Foto", "Video", "Grafika"] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
