<!DOCTYPE html>
<html>

  <head>
    <title>AKN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Visi", fotos_path%></li>
            <li><%= link_to "Foto", fotos_path(media_type: 'Foto')%></li>
            <li><%= link_to "Video", fotos_path(media_type: 'Video') %></li>
            <li><%= link_to "Grafika", fotos_path(media_type: 'Grafika') %></li>
            <li><%= link_to "SÄkums", root_path %></li>
          </ul>
        </nav>
      </div>
    </heaer>
    <div class = "container" style = "padding-top:20px;">
      <%= yield %>
    </div>
  </body>
</html>
